{% extends 'product/base.html' %}


{% block content %}
<div class="container">
<div class="row" dir="rtl">
    <div class="col">
        <div class="card">
            <div class="card-header text-center">
             تایید ایمیل
            </div>
            <div class="card-body">
              <h3 class="card-title text-center text-info">مگا گیم برای شما ایمیلی ارسال کرد.لطفا برای تکمیل ثبت نام ایمیل را تایید کنید.</h3>
            <br>
            <br>
            </div>
            <br>
          </div>
    </div>
</div>
</div>


{% endblock %}