{% extends 'registration/base.html' %}
{% load humanize %}



{% block title %}
{% if user.is_superuser %}
سلام {{user.get_full_name}} عزیز شما مالک سایت هستید 
{% else %}
سلام {{user.get_full_name}} عزیز
{% endif %}
{% endblock %}







{% block main %}

{% if user.is_superuser %}

  <div class="row">
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <h3>{{all_orders}}</h3>

          <p>لیست سفارشات</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a href="{% url 'account:order-list' %}" class="small-box-footer">اطلاعات بیشتر <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <div class="col-lg-3 col-6">
    <div class="small-box bg-warning">
      <div class="inner">
        <h3>{{all_users}}</h3>

        <p>کاربران ثبت نام کرده</p>
      </div>
      <div class="icon">
        <i class="ion ion-person-add"></i>
      </div>
      <a href="#" class="small-box-footer">اطلاعات بیشتر <i class="fas fa-arrow-circle-right"></i></a>
    </div>
    </div>
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>{{all_products}}</h3>

          <p>لیست محصولات</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a href="{% url 'account:product-list' %}" class="small-box-footer">اطلاعات بیشتر <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
          <h3>{{all_coupons}}</h3>

          <p>لیست کدهای تخفیف</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a href="{% url 'account:coupon-list' %}" class="small-box-footer">اطلاعات بیشتر <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
  </div>





{% else %}
<div class="col-9 mx-auto mt-5">
<div class="card">
    <div class="card-header">
      <h3 class="card-title" style="float: right;">اطللاعات حساب شما</h3>
    </div>
    <!-- /.card-header -->
    
    <div class="card-body p-0">
        
      <table class="table table-condensed">
        <thead>
          <tr>
            
            
          </tr>
        </thead>
        <tbody>
          <tr>
            
            <td><a href="{% url 'account:profile' %}">
                ویرایش اطلاعات حساب
                <i class="fa fa-edit nav-icon"></i>
                </a>
            </td>
            
          </tr>
          <tr>
            
            <td>
                <a href="{% url 'account:order-history-user' %}">
                سفارشات شما
                <i class="fa fa-shopping-cart nav-icon"></i>
                </a>
            </td>
            
          </tr>
          <tr>
            
            <td>
                <a href="{% url 'account:logout' %}">
                خروج از حساب کاربری
                <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                </a>
            </td>
            
          </tr>
          
          
        </tbody>
      </table>
      
    </div>
    
    <!-- /.card-body -->
  </div>
  </div>
{% endif %}


{% endblock %}