{% extends 'registration/base_register.html' %}
{% load base_tags %}
{% load widget_tweaks %}




{% block content %}

<div class="limiter" style="direction: rtl; text-align: right !important;font-family: Sahel !important;">
	{% if form.non_field_errors%}
		<div class="errors">
			
				{% for error in form.non_field_errors %}
					<span>{{ error }}</span>
				{% endfor %}
			
		</div>
	{% endif %}
	<div class="container-login100">
		<div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
			<form class="login100-form validate-form" method="POST">{% csrf_token %}
				<span class="login100-form-title p-b-55 myfont">
					ثبت نام در سایت
				</span>

				<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
					
					{{form.first_name|add_class:"input100 , myfont"|attr:"placeholder:نام"}}
					{% if form.first_name.errors %}
						<div class="errors">
				
							{% for error in form.first_name.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						
						</div>
					{% endif %}
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<span class="lnr lnr-user"></span>
					</span>
				</div>

				<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
					<!-- <input class="input100 myfont" type="password" name="pass" placeholder="رمز عبور"> -->
					{{form.last_name|add_class:"input100 , myfont"|attr:"placeholder:نام خانوادگی"}}
					{% if form.last_name.errors %}
						<div class="errors">
				
							{% for error in form.last_name.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						
						</div>
					{% endif %}
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<span class="lnr lnr-user"></span>
					</span>
				</div>
				<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
					<!-- <input class="input100 myfont" type="password" name="pass" placeholder="رمز عبور"> -->
					{{form.username|add_class:"input100 , myfont"|attr:"placeholder:نام کاربری"}}
					{% if form.username.errors %}
						<div class="errors">
				
							{% for error in form.username.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						
						</div>
					{% endif %}
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<span class="lnr lnr-user"></span>
					</span>
				</div>
				<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
					<!-- <input class="input100 myfont" type="password" name="pass" placeholder="رمز عبور"> -->
					{{form.email|add_class:"input100 , myfont"|attr:"placeholder:ایمیل"}}
					{% if form.email.errors %}
						<div class="errors">
				
							{% for error in form.email.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						
						</div>
					{% endif %}
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<span class="lnr lnr-envelope"></span>
					</span>
				</div>
				<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
					<!-- <input class="input100 myfont" type="password" name="pass" placeholder="رمز عبور"> -->
					{{form.password1|add_class:"input100 , myfont"|attr:"placeholder:گذرواژه"}}
					{% if form.password1.errors %}
						<div class="errors">
				
							{% for error in form.password1.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						
						</div>
					{% endif %}
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<span class="lnr lnr-lock"></span>
					</span>
				</div>
				<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
					<!-- <input class="input100 myfont" type="password" name="pass" placeholder="رمز عبور"> -->
					{{form.password2|add_class:"input100 , myfont"|attr:"placeholder:تایید گذرواژه"}}
					{% if form.password2.errors %}
						<div class="errors">
				
							{% for error in form.password2.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						
						</div>
					{% endif %}
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<span class="lnr lnr-lock"></span>
					</span>
				</div>

				<div class="contact100-form-checkbox m-l-4">
					<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
					<label class="label-checkbox100 myfont" for="ckb1">
						مرا به خاطر بسپار
					</label>
				</div>
				<script src='https://www.google.com/recaptcha/api.js'></script>
				<div class="g-recaptcha" data-sitekey="6Le2qqcfAAAAAKNT8xEyEnEEBv9Lgdmc2Le4Z55a"></div>
				
				<div class="container-login100-form-btn p-t-25">
					<button class="login100-form-btn myfont">
						ثبت نام
					</button>
				</div>

				

				<div class="text-center w-full p-t-115 myfont">
					<span class="txt1">
						حسابی دارید؟
					</span>

					<a class="txt1 bo1 hov1 myfont" href="{% url 'login' %}">
						وارد شوید						
					</a>
					
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}