{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="{% static 'registration/adminlte/assets/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">مگا گیم</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static 'registration/adminlte/assets/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{user.get_full_name}}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      {% if user.is_superuser %}
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview ">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                محصولات
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'account:product-create' %}" class="nav-link active">
                  <i class="fa fa-edit nav-icon"></i>
                  <p>افزودن محصول</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'account:product-list' %}" class="nav-link">
                  <i class="fa fa-list nav-icon"></i>
                  <p>لیست محصولات</p>
                </a>
              </li>
              
            </ul>
          </li>
          <li class="nav-item">
            <a href="{% url 'account:profile' %}" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                پروفایل
                <span class="right badge badge-danger">جدید</span>
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview ">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                دسته بندی ها
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'account:category-create' %}" class="nav-link active">
                  <i class="fa fa-edit nav-icon"></i>
                  <p>افزودن دسته بندی</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'account:category-list' %}" class="nav-link">
                  <i class="fa fa-list nav-icon"></i>
                  <p>لیست دسته بندی ها</p>
                </a>
              </li>
              
            </ul>
          </li>
          <li class="nav-item has-treeview ">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                کد های تخفیف
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'account:coupon-create' %}" class="nav-link active">
                  <i class="fa fa-edit nav-icon"></i>
                  <p>افزودن کد تخفیف</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'account:coupon-list' %}" class="nav-link">
                  <i class="fa fa-list nav-icon"></i>
                  <p>لیست کد های تخفیف</p>
                </a>
              </li>
              
            </ul>
          </li>
          <li class="nav-item">
            <a href="{% url 'account:order-list' %}" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                لیست سفارشات
              </p>
            </a>
          </li>
          
         
        </ul>
      </nav>
      {% else %}
      <li class="nav-item">
        <a href="{% url 'account:profile' %}" class="nav-link">
          <i class="nav-icon fas fa-th"></i>
          <span>
            پروفایل
          </span>
        </a>
      </li>
      {% endif %}
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>