{% extends 'registration/base.html' %}
{% load humanize %}
{% load crispy_forms_tags %}


{% block title %}
افزودن کد تخفیف

{% endblock %}







{% block main %}

<form method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="row">
        <div class="col-6">
            {{ form.code|as_crispy_field }}
        </div>
        <div class="col-6">
            {{ form.discount|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {{ form.valid_from|as_crispy_field }}    
        </div>
        <div class="col-6">
            {{ form.valid_to|as_crispy_field }}    
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {{ form.active|as_crispy_field }}
        </div>
    </div>
    

    <button class="btn btn-success" type="submit">ثبت کد تخفیف</button>
</form>



{% endblock %}