{% load static %}
{% load base_tags %}
{% load humanize %}
<!DOCTYPE html>
<html lang="fa">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>{% block title %} {% endblock %}</title>
    <meta name="keywords" content="خرید کامپیوتر, خرید PS5, خرید کیس اسمبل, خرید کارت گرافیک, خرید سیستم, خرید کنسول, خرید موس, خرید کیبورد, خرید محصولات گیمینگ, خرید بازی, خرید بازی PS4, خرید گیفت کارت, خرید کامپیوتر, خرید بازی ارزان, کارت گرافیک, مادربرد, رم">
    <meta name="description" content="مگا گیم ،عرضه کننده تخصصی کالا های گیمینگ نظیر سیستم و کامپیوتر های گیمینگ،لوازم جانبی گیمینگ،تمام اجناس مگا گیم از دبی میباشد.">
    <meta name="author" content="مگا گیم">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'product/images/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'product/images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'product/css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'product/css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'product/css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'product/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'product/owl_carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'product/owl_carousel/owl.theme.default.css' %}">
    <link rel="stylesheet" href="{% static 'product/style_card_slider.css' %}">
    <link rel="stylesheet" href="{% static 'product/single_styles.css' %}">
    <link rel="stylesheet" href="{% static 'product/single_responsive.css' %}">
    
    <script src="https://kit.fontawesome.com/aafcccd2df.js" crossorigin="anonymous"></script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="our-link">
                        {% if user.is_authenticated %}
                        <ul>
                            <li><a href="{% url 'account:home' %}"><i class="fa fa-user s_color"></i> پنل کاربری </a></li>
                        </ul>
                        {% else %}
                        <ul>
                            <li><a href="{% url 'login' %}"><i class="fa fa-user s_color"></i> ورود </a></li>
                            <li><a href="{% url 'register' %}"><i class="fas fa-location-arrow"></i> ثبت نام</a></li>

                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="text-slid-box">
                        <div id="offer-box" class="carouselTicker">
                            <ul class="offer-box">

                                <li>
                                    <i class="fab fa-opencart"></i> لذت گیم با مگا گیم
                                </li>



                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        {% include 'product/partials/category_navbar.html' %}
        
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <!-- <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div> -->
    <!-- End Top Search -->

    

    <!-- Start Categories  -->
    {% block content %} 


    {% endblock %}
    <!-- End Blog  -->
    


    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <!-- <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            
                            <h3>{{User.objects.values}}</h3>
                            
                            <ul class="list-time">
                                <li>Monday - Friday: 08.00am to 05.00pm</li>
                                <li>Saturday: 10.00am to 08.00pm</li>
                                <li>Sunday: <span>Closed</span></li>
                            </ul>
                        </div>
                    </div> -->
                    <!-- <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>Newsletter</h3>
                            <form class="newsletter-box">
                                <div class="form-group">
                                    <input class="" type="email" name="Email" placeholder="Email Address*" />
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <button class="btn hvr-hover" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>Social Media</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div> -->
                </div>
                <!-- <hr> -->
                <div class="row" dir="rtl">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4 class="text-right">درباره مگا گیم</h4>
                            <p class="text-right">فروشگاه آنلاين مگا گيم، يك فروشگاه تخصصي در حوزه بازي هاي رايانع اي است كه از سال 1400 كار خود را با هدف ارائه ي خدمات از اعم از فروش و مشاوره تخصصي كالاهاي گيم آغاز كرد.شما ميتوانيد در اين فروشگاه بهترين كالاهاي گيمينگ از برندهاي معتبر را با بهترين كيفيت دريافت كنيد.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 ">
                        <div class="footer-link">
                            <h4 class="text-right">دسترسی سریع</h4>
                            <ul style="float: right;">
                                <li><a href="{% url 'shop:privacy-policy' %}">قوانین و مقررات</a></li>
                                {% if user.is_authenticated %}
                                <li><a href="{% url 'account:profile' %}">پنل کاربری</a></li>
                                {% else %}
                                <li><a href="{% url 'register' %}">عضویت در مگا گیم</a></li>
                                {% endif %}
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4 class="text-right">تماس با ما</h4>
                            <ul style="float: right;">
                                <li>
                                    <p class="text-right"> آدرس:بوشهر،عسلويه،چاه مبارك،بنود ، خيابان آزادي ، پلاك 11 </p>
                                    <br>
                                    <p class="text-right">تماس با مگا گیم :</p>
                                    <p class="text-center">07737257016</p>
                                    <p class="text-center">09170076727</p>
                                    <p class="text-center">09205095909</p>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright" dir="rtl">
        <p class="footer-company ">کلیه حقوق این وب‌سایت متعلق به فروشگاه مگا گیم است - All rights reserved - ساخته شده توسط
            <a href="https://www.linkedin.com/in/alirezadanaee/" target="_blank">علیرضا دانایی</a></p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="{% static 'product/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'product/js/popper.min.js' %}"></script>
    <script src="{% static 'product/js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'product/js/jquery.superslides.min.js' %}"></script>
    <script src="{% static 'product/js/bootstrap-select.js' %}"></script>
    <script src="{% static 'product/js/inewsticker.js' %}"></script>
    <script src="{% static 'product/js/bootsnav.js' %}"></script>
    <script src="{% static 'product/js/images-loded.min.js' %}"></script>
    <script src="{% static 'product/js/isotope.min.js' %} "></script>
    <script src="{% static 'product/js/owl.carousel.min.js' %}"></script>
    <!-- <script src="js/baguetteBox.min.js"></script> -->
    <script src="{% static 'product/js/form-validator.min.js' %} "></script>
    <script src="{% static 'product/js/contact-form-script.js' %}"></script>
    <script src="{% static 'product/js/custom.js' %} "></script>
    <script src="{% static 'product/owl_carousel/owl.carousel.js' %}"></script>
    <script src="{% static 'product/js/script_card_slider.js' %} "></script>
</body>

</html>