{% extends 'product/base.html' %}
<!-- Extend base -->
{% load static %}
<!-- Load Static -->
{% block content %}
<div class="categories-shop">
    <div class="container">
        <div class="row" dir="rtl">
            {% for product in category %}
            <div class="col-lg-4 col-md-4 col-sm-6 mt-2 ">
                <section class="neumorphism" style="background-color: white;">


                    <div class="card" style="border-radius: 15px;">
                        <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light" style="width: 100%; height: 170px;">
                            <img src="{{product.image.url}}" style="border-top-left-radius: 15px; border-top-right-radius: 15px;height:150px; width:100%" class="img-fluid" alt="Laptop" />
                            <a href="#!">
                                <div class="mask"></div>
                            </a>
                        </div>
                        <div class="card-body pb-0">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p><a href="#!" class="text-dark">{{product.name}}</a></p>
                                    <p class="small text-muted">{{product.category}}</p>
                                </div>
                                <div>
                                    <div class="d-flex flex-row justify-content-end mt-1 mb-4 text-danger">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <p class="small text-muted">Rated 4.0/5</p>
                                </div>
                            </div>
                        </div>
                        <hr class="my-0" />
                        <div class="card-body pb-0">
                            <div class="d-flex justify-content-between">
                                <p><a href="#!" class="text-dark">{{product.price}} تومان</a></p>
                                <p class="text-dark">#### 8787</p>
                            </div>
                            {% if product.status == 'a' %}
                            <p class="badge bg-success text-light" style="font-size: 16px;">موجود</p>
                            {% elif product.status == 'u' %}
                            <p class="badge bg-danger text-light" style="font-size: 16px;">ناموجود</p>
                            {% else %}
                            <p class="badge bg-warning text-light" style="font-size: 16px;">قابل سفارش</p>
                            {% endif %}
                        </div>

                        <hr class="my-0" />
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                                <button type="button" class="btn btn-dark">مشاهده</button>
                                <button type="button" class="btn btn-success">افزودن به سبد خرید</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-evenly">
        <div class="col-lg-5 col-md-8 card-box-rounded mt-3" style="background-color: #E0B0FF;">
            <div class="col-6 mt-2" style="float: right;">
                <img src="{% static 'product/images/box-1.png' %}" style="height: 150px;width: 100%; margin-top: 5px;">
            </div>
            <div class="col-6 text-center box-card-ghab" style="background-color: #E0B0FF;">
                <div style="font-size: 24px;">انواع موس </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-8 card-box-rounded mt-3" style="background-color: #B3FFB0;margin-left: auto;">
            <div class="col-6 mt-2" style="float: right;">
                <img src="{% static 'product/images/box-2.png' %}" style="height: 150px;width: 100%; margin-top: 5px;">
            </div>
            <div class="col-6 text-center box-card-ghab" style="background-color:#B3FFB0;">
                <div style="font-size: 24px;">انواع کیبورد</div>
            </div>
        </div>
        <div class="col-lg-5 col-md-8 card-box-rounded mt-3 " style="background-color: #7AC8FF;">
            <div class="col-6 mt-2" style="float: right;">
                <img src="{% static 'product/images/box-3.png' %}" style="height: 150px;width: 100%; margin-top: 5px;">
            </div>
            <div class="col-6 text-center box-card-ghab" style="background-color: #7AC8FF;">
                <div style="font-size: 24px;">انواع میکروفون </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-8 card-box-rounded mt-3 " style="background-color: #DC785A;margin-left: auto;">
            <div class="col-6 mt-2" style="float: right;">
                <img src="{% static 'product/images/box-4.png' %}" style="height: 150px;width: 100%; margin-top: 5px;">
            </div>
            <div class="col-6 text-center box-card-ghab" style="background-color: #DC785A;">
                <div style="font-size: 24px;">انواع صندلی </div>
            </div>
        </div>

    </div>
</div>
<!-- End Categories -->

<div class="main-top mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="text-light text-center">
                    ارسال ایمن به سراسر کشور <i class="fas fa-truck" style="color: #ef394e;"></i>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="main-top mt-3">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div class="text-light text-center ">
                    پیشنهادات شگفت انگیز <i class="fas fa-fire" style="color: #ef394e;"></i>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Start Blog  -->



{% endblock %}