{% extends 'product/base.html' %}
{% load base_tags %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}


{% block title %}
 خرید {{product.name}}

{% endblock %}



{% block content %}
	
<div class="shop-detail-box-main" dir="rtl">
	<div class="container">
		<div class="row" >
			<div class="col-xl-5 col-lg-5 col-md-6">
				<div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
					<div class="carousel-inner" role="listbox">
						<div class="carousel-item active"> <img class="d-block w-100" src="{{product.image.url}}" alt="{{product.name}}"> </div>
						<div class="carousel-item"> <img class="d-block w-100" src="{{product.image2.url}}" alt="{{product.name}}"> </div>
						<div class="carousel-item"> <img class="d-block w-100" src="{{product.image3.url}}" alt="{{product.name}}"> </div>
						<div class="carousel-item"> <img class="d-block w-100" src="{{product.image4.url}}" alt="{{product.name}}"> </div>
					</div>
					<a class="carousel-control-prev" href="#carousel-example-1" role="button" data-slide="prev"> 
					<i class="fa fa-angle-left" aria-hidden="true"></i>
					<span class="sr-only">Previous</span> 
				</a>
					<a class="carousel-control-next" href="#carousel-example-1" role="button" data-slide="next"> 
					<i class="fa fa-angle-right" aria-hidden="true"></i> 
					<span class="sr-only">Next</span> 
				</a>
					<ol class="carousel-indicators">
						<li data-target="#carousel-example-1" data-slide-to="0" class="active">
							<img class="d-block w-100 img-fluid" src="{{product.image.url}}" alt="{{product.name}}" />
						</li>
						<li data-target="#carousel-example-1" data-slide-to="1">
							<img class="d-block w-100 img-fluid" src="{{product.image2.url}}" alt="{{product.name}}" />
						</li>
						<li data-target="#carousel-example-1" data-slide-to="2">
							<img class="d-block w-100 img-fluid" src="{{product.image3.url}}" alt="{{product.name}}" />
						</li>
						<li data-target="#carousel-example-1" data-slide-to="3">
							<img class="d-block w-100 img-fluid" src="{{product.image4.url}}" alt="{{product.name}}" />
						</li>
					</ol>
				</div>
			</div>
			<div class="col-xl-7 col-lg-7 col-md-6">
				<div class="single-product-details">
					<div>
					<h2 style="float: right;">{{product.name}}</h2>
					</div>
					<br>
					<hr>
					<div>
					<h5 style="float: right;">{{ product.price|intcomma }} تومان</h5>
					
					{% if product.status == 'a' %}
					<p>موجودی:<small class="text-success" style="font-size: 16px;">موجود</small></p>
					{% elif product.status == 'c' %}
					<p>موجودی:<small class="text-warning" style="font-size: 16px;">قابل سفارش</small></p>
					<div class="alert alert-warning text-center" role="alert">
						توجه:محصولاتی که قابل سفارش هستند بین دو الی چهار هفته کاری برای شما ارسال میشود
					</div>
					{% else %}
					<p>موجودی:<small class="text-danger" style="font-size: 16px;">ناموجود</small></p>
					
					{% endif %}
					</div>
					<br>
					<hr>
					<div>
					<h4 class="text-right">توضیحات:</h4>
					</div>
					
					<div class="text-right">
					<p class="text-right" dir="rtl">{{product.description|safe}}</p>
					</div>
					<hr>
					<form action="{% url 'cart:cart_add' product.id %}" method="POST">{% csrf_token %}
					{% if product.status == 'a' or product.status == 'c' %}
					
							<div class="form-group quantity-box" >
								
								<label class="control-label" style="font-size: 20px;">تعداد:</label>
								
								{{form.quantity|attr:"value:1"|add_class:"quantity-button"|attr:"style:width:60px"}}
								
							</div>
					
					<div class="price-box-bar">
						<div class="cart-and-bay-btn">
							
							<button type="submit" class="btn hvr-hover rounded text-light">افزودن به سبد خرید</button>
						</div>
					</div>
					{% endif %}
					</form>

				</div>
			</div>
		</div>
		<div class="row justify-content-center mt-5">
			<ul class="nav nav-tabs shadow" id="myTab" role="tablist">
				<li class="nav-item">
				  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">ویژگی های محصول</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">نظرات</a>
				</li>
				
			  </ul>
			  <div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active text-center mt-4" id="home" role="tabpanel" aria-labelledby="home-tab">
					<table class="table table-striped table-danger">
						<thead>
							<tr>مشخصات {{product.name}}</tr>
						</thead>
						{% for triat in triats %}
						<tbody>
							<td style="color: black;">{{triat.name}}</td>
							<td style="color: black;">{{triat.value}}</td>
						</tbody>
						{% endfor %}
					</table>
				</div>
				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					{% if user.is_authenticated %}
<div class="d-flex justify-content-center" dir="rtl">
	<div class="card shadow my-3 p-5 w-sm-75 w-75" >
			<h3 class="text-right">نظر خود را وارد کنید:</h3>
			<form method="POST">{% csrf_token %}
				
					{{comment_form.text}}
					<script src='https://www.google.com/recaptcha/api.js'></script>
    				<div class="g-recaptcha mt-3 w-sm-50" data-sitekey="6Lejn7AfAAAAAByrGpZ9TgHuEPJvPFP6NZ7OM0_y"></div>
					<button class="btn btn-primary mt-2">ارسال</button>
				  
			</form>
		
	</div>
</div>
{% else %}

<div class="d-flex justify-content-center">
	<div class="card shadow my-3 p-5 w-sm-75 w-75" style="height: 185px;" dir="rtl">
			<h3 class="text-right text-center">برای ارسال نظر باید ثبت نام کنید یا وارد شوید</h3>
			<div class="col text-center  ">
				
			<a href="{% url 'register' %}"><button class="btn btn-info mt-1" ><i class="fa fa-user-plus" aria-hidden="true"></i> ثبت نام</button></a>
			
			
			<a href="{% url 'login' %}"><button class="btn btn-info mt-1"><i class="fa fa-sign-in" aria-hidden="true"></i> ورود</button></a>
			
			</div>
		
	</div>
</div>

{% endif %}
<div class="d-flex justify-content-center" >
	<div class="card shadow my-3 p-5 w-sm-75 w-75">
		<h2 class="mb-5 text-right">:نظرات</h2>
		{% for comment in comments %}
			<div class="border-bottom mb-3" >
				<h5 class="mb-3 text-right" >{{ comment.user.get_full_name }}</h5>
				<div class="text-right">
				<p >{{ comment.text|linebreaks }}</p>
				</div>
			</div>
			{% empty %}
			<h3 class="text-center">هیچ نظری تاکنون ثبت نشده است</h3>
		{% endfor %}
	</div>
</div>
				</div>
				
			  </div>
		</div>
		{% if recommended_products %}
		<div class="row text-center">
			<div class="col12 ">
				<h1 class="text-center">
					کالاهای پیشنهادی
				</h1>
				
			</div>
		</div>
		<div class="row mt-5">
			
			{% for product in recommended_products %}
		<div class="col-6 col-lg-2">
			<div class="card" style="width:192px; height:298px;">
				<img src="{{product.image.url}}" class="card-img-top" alt="{{product.name}}" width="150px" height="150px">
				<div class="card-body">
				<p class="card-text" style="color: black;">{{product.name}}</p>
				<p style="color: black;">{{product.price|intcomma}} تومان</p>
				
				</div>
			</div>
		</div>
		{% endfor %}
		
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
 
