{% extends 'product/base.html' %}












{% block content %}
<div class="container">
<div class="row justify-content-center mt-5 mb-5" dir="rtl">
<div class="col-10">
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne" style="padding: 0;">
      <h2 class="mb-0" style="float: right;">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          عضویت <i class="fa fa-users" aria-hidden="true"></i>
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body" style="float: right;" dir="rtl">
        <p class="text-right">افراد برای عضویت در سایت باید به قسمت عضویت مراجعه کنند.</p>
        <br>
        <p>در این مرحله با وارد کردن اطلاعات لازم مانند نام و نام‌خانوادگی، رمز عبور و آدرس پست الکترونیکی، لینک تایید عضویت برای آنان ارسال می‌شود که کاربران با کلیک نمودن آن، مراحل عضویت را تایید می‌کنند.</p>
        <br>
        <p class="text-right">تبصره 1: کاربر باید رمز عبور و نام کاربری خود را حفظ نموده و چنانچه آن را فراموش کند، می‌تواند برای ثبت نام مجدد و اخذ کلمه عبور جدید اقدام کند.</p>
        <br>
        <br>
        <p class="text-right">تبصره 2: کاربر باید آدرس پست الکترونیک خود را به همراه سایر اطلاعات درخواستی به‌طور صحیح اعلام نموده و مسئولیت ثبت اشتباه و یا خلاف واقع بر عهده شخص کاربر است.</p>
        <br>
        <br>
        <p class="text-right">تبصره 3: عضویت در سایت مگا گیم رایگان است.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo"  style="padding: 0;">
      <h2 class="mb-0" style="float: right;">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          فرایند خرید <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body" style="float: right;" >
        <p class="text-right">فرایند خرید از سایت توسط کاربر به این شرح است.</p>
        <br>
        <p class="text-right">قسمت اول: بازدید از کالاها و خدمات ارائه شده در سایت</p>
        <p class="text-right">قسمت دوم: پرداخت مبلغ معین ( یا اعمال کوپن تخفیف) به‌صورت آنلاین توسط خریدار</p>
        <p class="text-right">قسمت سوم: ارسال رسید کالا و خدمات خریداری شده در قالب ایمیل و یا به‌صورت پیامک به آدرس پست الکترونیک  توسط مگا گیم</p>
        <br>
        
        <p class="text-right"><strong>قسمت چهارم: ارسال کالا توسط مگا گیم با پست یا تیپاکس هست که هزینه ارسال به عهده مشتری میباشد. و بسته بندی محصول به عهده مگاگیم میباشد.</strong></p>
        
        <br>
      <p class="text-right">تبصره 1: چنانچه خریدار با هویت غیرواقعی اعم از نام، نام خانوادگی و … اقدام به خرید کند و موضوع مشخص شود، مگا گیم حق دارد سفارش را باطل کند.</p>
      <br>
      <p class="text-right">در صورت بروز هرگونه خطا نسبت به درج قیمت و ارزش ریالی کالاهای موجود در سایت مگا گیم ، حق بلا اثر نمودن سفارش و خرید انجام شده توسط مشتری، برای مگا گیم محفوظ است. مگا گیم در اسرع وقت وجوه دریافتی را به حساب اعلام شده توسط مشتری واریز و عودت می‌نماید و مشتری با ورود به سایت مگا گیم می‌پذیرد از این امر آگاهی داشته و در این خصوص ادعایی نخواهد داشت.</p>
      <p class="text-right">لازم به ذکر است افزودن کالا به سبد خرید به معنی رزرو کالا نیست و هیچ گونه حقی را برای مشتریان ایجاد نمی‌کند.</p>
      <br>
      <p class="text-right">همچنین تا پیش از ثبت نهایی، هرگونه تغییر از جمله تغییر در موجودی کالا یا قیمت، روی کالای افزوده شده به سبد خرید اعمال خواهد شد.</p>
      <br>
      <p class="text-right">بنابراین به مشتریانی که تمایل و تصمیم به خرید قطعی دارند، به‌ویژه درباره کالاهایی که به صورت تخفیفی ارائه می شوند و دارای محدودیت تعداد هستند، توصیه می‌شود در اسرع وقت سفارش خود را نهایی کنند تا با اتمام موجودی یا تغییر قیمتی کالاها روبرو نشوند. شایان ذکر است سفارش تنها زمانی نهایی می‌شود که کاربران پس از واریز وجه فاکتور سفارش خود را دریافت کنند و بدیهی است که مگا گیم هیچ‌گونه مسوولیتی نسبت به کالاهایی که در سبد خرید رها شده است، ندارد.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree"  style="padding: 0;">
      <h2 class="mb-0" style="float: right;">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          بعد از خرید <i class="fa fa-shopping-basket" aria-hidden="true"></i>
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body" style="float: right;">
        <p class="text-right">لطفا در مورد کالا ها تحقیق بفرمایید و از انتخاب خود مطمئن شوید.</p>
        <br>
        <br>
        <p class="text-right">محصولاتی که گارانتی دارند در صورت هرگونه مشکل شرکت مگا گیم مسئولیتی در قبال آن محصول ندارد و خریدار باید به شرکت گارانتی کننده آن محصول مراجعه کند.</p>
        <br>
        <br>
        <p class="text-right">در صورتی که جنسی گارانتی ندارد شرکت مگا گیم 7 تا 15 روز مهلت تست برای آن در نظر گرفته است.  در صورت مشکل در محصول بعد از ارسال کالا به مگا گیم محصول مورد بررسی قرار میگیرد در صورتی که</p>
        <p class="text-right">کالا ایراد داشته باشد وجه آن کامل برگشت داده می شود.</p>
        <br>
        <br>
        <br>
        <p class="text-right">بعد از گذشت 7 تا 15 روز از تاریخ خرید در صورت هر گونه مشکل مگا گیم مسئولیتی در قبال جنس فروخته شده ندارد .</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour" style="padding: 0;">
      <h2 class="mb-0" style="float: right;">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
ارسال کالا <i class="fa fa-truck" aria-hidden="true"></i>
        </button>
      </h2>
    </div>

    <div id="collapseFour" class="collapse " aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        <p class="text-right">برای شهر هایی  که ارسال از طریق پست میباشد  . اولین روز کاری بعد از خرید شما محصول مورد نظر به پست تیپاکس تحویل داده می شود، حتما شماره موبایل را در فرم اطلاعاتی وارد کنید ، بعد از تحویل به پست شما از کد رهگیری  و بیمه محصول و هزینه آن از طریق پیامک تیپاکس مطلع می شوید.</p>
        <br>
        <p class="text-right">توجه داشته باشید هزینه ای که در پیامک برای شما ارسال می شود بیمه محصول  و  ارسال کالا می باشد</p>
        <br>
        <p class="text-right">هزینه که در پیامک برای شما ارسال می شود هزینه خدمات پستی هست. هزینه بسته بندی کالا به عهده مگا گیم می باشد. مبلغ  بسته بندی تقریبا 30 تا 50 هزار تومان هست که رایگان برای مشتریان انجام می شود</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFive" style="padding: 0;">
      <h2 class="mb-0" style="float: right;">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
  اجناس بدون گارانتی <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        </button>
      </h2>
    </div>

    <div id="collapseFive" class="collapse " aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body wpb_wrapper" style="float: right;">
        <p class="text-right">کالا از تاریخ فاکتور به مدت  7 یا 15 روز گارانتی و ضمانت سلامت دارد ، در صورتی که مشکلی که سخت افزاری باشد و یا ایراد اصلی کالا باشد وجه دریافت شده در فاکتور به خریدار بازگشت داده می شود در صورت وجود نمونه مشابه برای مشتری تعویض میگردد.</p>
        <br>
        <br>
        <p class="text-right">برای دریافت وجه خود کالا باید به شرکت مگا گیم بازگردانده شود و در صورت تایید کارشناس شرکت مبلغ به مشتری بازگشت داده می شود.</p>
        <br>
        <br>
        <p class="text-right">هزینه ارسال به مگا گیم برای دریافت خدمات گارانتی به عهده شما می باشد.</p>
        <br>
        <br>
        <p class="text-right"><strong>موارد  ابطال گارانتی :</strong></p>
        <br>
        <br>
        <p class="text-right">عدم تطابق مشخصات کالا با فاکتور</p>
        <br>
        <br>
        <p class="text-right">صدمات ناشی از استفاده در شرایط غیر متعارف و غیر استاندارد یا حوادث غیر مترقبه و صدمات فیزیکی و عیوب فنی ایجاد شده در اثر ضربه ، آتش سوزی، ورود مایعات و سیالات به داخل دستگاه ،  نوسانات برق ، مواد شیمیایی و استفاده غلط ازدستگاه</p>
        <br>
        <p class="text-right">تغییر در قطعات سخت افزاری و استفاده از آداپتورهای متفرقه ، آسیب دیدگی پورت های ورودی((USB و وجود آثار تعمیرات توسط اشخاص غیر مجاز</p>
        <br>
        <p class="text-right">هرگونه ایراد ناشی از بکارگیری نرم افزارهای مختلف و آلودگی به ویروس و روت شدن که موجب اختلال در کارکرد دستگاه می باشد</p>
        <br>
        <p class="text-center"><strong>لطفا توجه کنید مشکلات نرم افزاری خارج از تعهد مگا گیم میباشد .</strong></p>

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingSix" style="padding: 0;">
      <h2 class="mb-0" style="float: right;">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
اطلاعات کاربر <i class="fa fa-book" aria-hidden="true"></i>
        </button>
      </h2>
    </div>

    <div id="collapseSix" class="collapse " aria-labelledby="headingSix" data-parent="#accordionExample">
      <div class="card-body">
        <p class="text-right">شرکت اطلاعات زیر را به‌منظور آگاهی کاربر در اختیار آنان قرار می‌دهد:</p>
        <br>
        <p class="text-right">• مشخصات فنی و ویژگی‌های کاربردی کالا</p>
        <p class="text-right">• تعیین کلیه هزینه‌هایی که برای خرید کالا بر عهده مشتری است.</p>
        <p class="text-right">• مدت زمان اعتبار پیشنهادهای ارائه شده</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingSeven" style="padding: 0;">
      <h2 class="mb-0" style="float: right;">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
اختلال در سرویس <i class="fa fa-server" aria-hidden="true"></i>
        </button>
      </h2>
    </div>

    <div id="collapseSeven" class="collapse " aria-labelledby="headingSeven" data-parent="#accordionExample">
      <div class="card-body">
        <p class="text-right">اختلال در سرویس اینترنت و یا هر رویدادی که باعث شود ایمیل حاوی کد خرید از مگا گیم به کاربر نرسد موجب از بین رفتن حق کاربر نمی‌شود.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingEight" style="padding: 0;">
      <h2 class="mb-0" style="float: right;">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
نظرات <i class="fa fa-comments" aria-hidden="true"></i>
        </button>
      </h2>
    </div>

    <div id="collapseEight" class="collapse " aria-labelledby="headingEight" data-parent="#accordionExample">
      <div class="card-body">
        <p class="text-right">کاربر نباید در سایت ( تالار گفت‌وگو و یا هر قسمت دیگر) اظهاراتی (Comment) را بگذارد و‌ یا اقدامی نماید که مبین نقض حقوق اشخاص دیگر باشد و یا عمل مجرمانه‌ای را به دنبال داشته باشد.</p>
        <br>
        <p class="text-right">همچنین کاربران نباید در خصوص امور مذهبی و سیاسی در این سایت اظهار نظر کنند. چنانچه هر یک از کاربران این ماده را رعایت نکنند، بلافاصله از سایت اخراج شده و چنانچه خریدی انجام داده باشند، وجه واریزی به آنان مسترد نمی‌شود. همچنین کاربر (عضو) حق استفاده از این سایت را  از دست می‌دهد.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingNine" style="padding: 0;">
      <h2 class="mb-0" style="float: right;">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
شرایط برگشت کالا <i class="fa fa-bicycle" aria-hidden="true"></i>
        </button>
      </h2>
    </div>

    <div id="collapseNine" class="collapse " aria-labelledby="headingNine" data-parent="#accordionExample">
      <div class="card-body">
        <p class="text-right">خرید اینترنتی هرچند بسیار ساده و سریع است، اما همواره مشکلاتی از جمله نحوه بسته بندی، خرابی و مشکلات احتمالی هنگام تحویل کالاها دغدغه هایی را برای کاربران به وجود می آورد.</p>
        <p class="text-right">به همین منظور برای اطمینان خاطر مشتریان امکان برگشت کالا را در نظر گرفتیم تا در صورت بروز هرگونه مشکل احتمالی در زمان تحویل کالا یا حتی بعد از آن امکان پیگیری و رفع آن وجود داشته باشد.</p>
        <br>
        <br>
        <p class="text-right"><strong>توجه: در هر حالت برای برگشت کالا فاکتور آن نیز باید به همراه کالا ارسال شود.</strong></p>
        <br>
        <p class="text-right"><strong>1) مغایرت مشخصات کالاهای سایت با کالای ارسالی: مشخصات کالاها از سایت شرکت های سازنده استخراج میشود و احتمال تغییر مشخصات کالاها در طول زمان وجود دارد. همواره سعی کرده ایم که مشخصات کالاها به روز باشد، اما در صورتی که عکس یا مشخصات کالاها با کالای ارسال شده همخوانی نداشته باشد، خریدار میتواند موضوع را در اسرع وقت (کمتر از 24 ساعت) به ما اطلاع دهد و هماهنگی های لازم را برای برگشت کالا انجام دهد. پس از برگشت کالا در صورت نیاز کالای جایگزین ارسال خواهد شد یا در صورت لزوم وجه کالا به حساب خریدار عودت داده میشود.</strong></p>
        <p class="text-right"><strong>در این صورت هزینه ارسال و برگشت کالا به عهده مگا گیم میباشد.</strong></p>
        <p class="text-right"><strong>توجه: کالا دقیقا با همان شرایط ارسال شده باید مرجوع شود، در صورت بسته بندی نامناسب یا استفاده از دستگاه و باز کردن آن امکان برگشت کالا وجود ندارد.- کالاهایی که شامل گارانتی نمیباشند (مانند پردازنده های اینتل) در صورتی که ایراد ظاهری مشاهده نشود و کالا عملکرد صحیح نداشته باشد امکان مرجوعی تا 24 ساعت وجود دارد.</strong></p>
        <p class="text-right"><strong>– کالاهای دارای صفحه نمایش (مانند مانیتور) تعداد پیکسل سوخته یا روشن تا ۳ عدد در حد استاندارد بین المللی بوده و از 4 عدد به بالا شامل شرایط برگشت کالا میباشد.</strong></p>
        <br>
        <p class="text-right"><strong>توجه: کالا در صورت داشتن ایراد ظاهری (ضربه، تماس با آب، له شدگی و شکستگی، انواع سوختگی ناشی از حرارت یا برق نامتعارف) امکان برگشت ندارد.</strong></p>
        <br>
        <p class="text-right"><strong>3) مشکلات مربوط به حمل و نقل: تمامی کالاهای ارسالی از مگا گیم با توجه به نوع کالا به طور استاندارد بسته بندی و پس از ارسال کالا مشخصات بارنامه و روش ارسال به کاربر اعلام خواهد شد. پس از این مرحله در صورتی که کالایی در حمل و نقل آسیب دیده باشد، مسئولیت این خسارت با شرکت حمل و نقل است و فروشگاه اینترنتی مگا گیم مسئولیتی در قبال کیفیت خدمات رسانی شرکت های حمل و نقل کننده ندارد.</strong></p>
        <br>
        <p class="text-right"><strong>در صورتی که کالای تحویل گرفته شده ایراد ظاهری دارد مشتری میتواند از قبول آن خودداری کند و مشکل را از طریق شرکت مربوطه پیگیری نماید.</strong></p>
        <br>
        <p class="text-right">با این حال در صورت بروز هرگونه مشکل مشتری میتواند در کمتر از 24 ساعت کاری موضوع را ترجیحا از طریق ایمیل به همراه عکس به فروشگاه منتقل کند تا مورد پیگیری شود.
          تمامی کالاهای ارسالی با تیپاکس و پست پیشتاز دارای بیمه میباشند</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTen" style="padding: 0;">
      <h2 class="mb-0" style="float: right;">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
تیپاکس  <i class="fa fa-plane" aria-hidden="true"></i>
        </button>
      </h2>
    </div>

    <div id="collapseTen" class="collapse " aria-labelledby="headingTen" data-parent="#accordionExample">
      <div class="card-body">
        <p class="text-right">پست تیپاکس سریعترین روش ارسال کالا به شهرستان است. شهرهایی که تحت پوشش تیپاکس هستند به صورت 24 ساعته کالا را تحویل میگیرند و مشتریانی که خارج از بافت شهری قرار دارند 48 تا 72 ساعت پس از ارسال توسط مگا گیم محصول خود را تحویل میگیرند.</p>
        <br>
        <p class="text-right">هزینه ارسال از طریق تیپاکس به صورت یک هزینه ثابت بوده که موقع پرداخت محاسبه و دریافت می شود و در صورتی که مبلغ بیشتر بشود مگا گیم آن را پرداخت می کند.</p>
        <br>
        <p class="text-right"><strong>کاربر عزیز مدت زمان ارسال از طریق تیپاکس سه الی پنج روز طول میکشد.</strong></p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingeleven" style="padding: 0;">
      <h2 class="mb-0" style="float: right;">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseeleven" aria-expanded="true" aria-controls="collapseeleven">
در صورت موجود نبودن کالا بعد از خرید <i class="fa fa-refresh" aria-hidden="true"></i>
        </button>
      </h2>
    </div>

    <div id="collapseeleven" class="collapse " aria-labelledby="headingeleven" data-parent="#accordionExample">
      <div class="card-body">
        <p class="text-right">ما همیشه سعی میکنیم که قیمت و موجودی سایت رو بروز نگه داریم ولی در خرید اینترنتی گاهی این اتفاق پیش می آید که کالا بعد از خرید مشتری چک میشود و اگه کالایی رو در سایت مگا گیم خریداری کردید ولی موجودی کالا بروز نبود اصلا جای نگرانی نیست پول شما را کامل برگشت میدهیم بدون هیچ کسری  بعد از مشخص شدن عدم موجودی کالا با شما تماس گرفته میشود حداکثر یک ساعت بعد از تماس با شما مبلغ پرداختی شما کاملا برگشت داده میشود.</p>
        <br>
        <p class="text-right"><strong>پس با خیال راحت خرید کنید.</strong></p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
{% endblock %}