{% extends 'registration/base.html' %}
{% load humanize %}



{% block title %}
جزییات سفارش


{% endblock %}







{% block main %}

<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

              <div class="input-group-append">
                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>نام</th>
                <th>قیمت</th>
                <th>تعداد</th>
                <th>آدرس</th>
                <th>نام خریدار</th>
                <th>پرداخت شده؟</th>
                
                
              </tr>
            </thead>
            <tbody>
                {% for order in order_detail %}
              <tr>
                <td><a >
                  {{order.product.name}}
                </a></td>
                <td>{{order.product.price}}</td>
                <td>{{order.quantity}}</td>
                <td>{{order.order.address}}</td>
                <td>{{order.user.get_full_name}}</td>
                
                <td>
                    {% if order.order.paid %}
                    <i class="fa fa-check-circle " style="color: green;" aria-hidden="true"></i>
                    {% else %}
                    <i class="fa fa-window-close" style="color: red;" aria-hidden="true"></i>
                    {% endif %}
                </td>
                
                
                
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>

  
  




{% endblock %}