{% extends 'registration/base.html' %}
{% load humanize %}



{% block title %}
لیست سفارشات

{% endblock %}







{% block main %}

<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

              <div class="input-group-append">
                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th>ایمیل</th>
                <th>آدرس</th>
                <th>کد پستی</th>
                <th>استان</th>
                <th>شهر</th>
                <th>پرداخت شده؟</th>
                <th>زمان سفارش</th>
                
                <th>توضیحات کاربران</th>
                
              </tr>
            </thead>
            <tbody>
                {% for order in object_list %}
                <tr>
                <td>
                  
                  <a href="#">
                  {{order.first_name}}
                </a></td>
                <td>{{order.last_name}}</td>
                <td>{{order.email}}</td>
                <td>{{order.address}}</td>
                <td>{{order.postal_code}}</td>
                <td>{{order.state}}</td>
                <td>{{order.city}}</td>
                <td>
                    {% if order.paid %}
                    <i class="fa fa-check-circle " style="color: green;" aria-hidden="true"></i>
                    {% else %}
                    <i class="fa fa-window-close" style="color: red;" aria-hidden="true"></i>
                    {% endif %}
                </td>
                <td>{{order.j_created}}</td>
                
                <td>{{order.description_user}}</td>
                
                
                
              </tr>
              {% endfor %}
              
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>



{% endblock %}