{% extends 'registration/base_register.html' %}
{% load base_tags %}
{% load widget_tweaks %}




{% block content %}

<div class="limiter" style="direction: rtl; text-align: right !important;font-family: Sahel !important;">
    {% if form.non_field_errors%}
        <div class="errors">
            
                {% for error in form.non_field_errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            
        </div>
    {% endif %}
    <div class="container-login100">
        <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
            <form class="login100-form validate-form" method="POST">{% csrf_token %}
                <span class="login100-form-title p-b-55 myfont">
                    تغییر گذرواژه
                </span>

                <div class="wrap-input100 validate-input m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
                    <!-- <input class="input100 myfont" type="text" name="email" placeholder="ایمیل"> -->
                    {{form.old_password|add_class:"input100 , myfont"|attr:"placeholder:گذرواژه قدیمی"}}
                    {% if form.username.errors %}
                        <div class="errors">
                
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        
                        </div>
                    {% endif %}
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <span class="lnr lnr-lock"></span>
                    </span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
                    <!-- <input class="input100 myfont" type="password" name="pass" placeholder="رمز عبور"> -->
                    {{form.new_password1|add_class:"input100 , myfont"|attr:"placeholder:گذرواژه جدید"}}
                    {% if form.password.errors %}
                        <div class="errors">
                
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        
                        </div>
                    {% endif %}
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <span class="lnr lnr-lock"></span>
                    </span>
                </div>
                <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
                    <!-- <input class="input100 myfont" type="password" name="pass" placeholder="رمز عبور"> -->
                    {{form.new_password2|add_class:"input100 , myfont"|attr:"placeholder:تایید گذرواژه جدید"}}
                    {% if form.password.errors %}
                        <div class="errors">
                
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        
                        </div>
                    {% endif %}
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <span class="lnr lnr-lock"></span>
                    </span>
                </div>

                
                <script src='https://www.google.com/recaptcha/api.js'></script>
                <div class="g-recaptcha" data-sitekey="6LcG_MIfAAAAAHlnHzzQ0_X5WpgZQG6Yr-apZamC"></div>
                
                <div class="container-login100-form-btn p-t-25">
                    <button class="login100-form-btn myfont">
                        تغییر گذرواژه
                    </button>
                </div>

                
            </form>
        </div>
    </div>
</div>

{% endblock %}