{% extends 'registration/base_register.html' %}


{% block content %}

	{% load crispy_forms_tags %}          

	<!--Reset Password-->
	<div class="container" dir="rtl">
		<div class="row justify-content-center">
		<div class="col-8">
  	 	<h2 class="font-weight-bold mt-3 text-right">بازنشانی گذرواژه</h2>
		<hr>
		<p class="text-right">آیا رمز ورود خود را فراموش کرده اید؟ آدرس ایمیل خود را در زیر وارد کنید، و ما دستورالعمل هایی را برای تنظیم ایمیل جدید ارسال می کنیم.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}  
			
			<script src='https://www.google.com/recaptcha/api.js'></script>
    		<div class="g-recaptcha mt-3 w-sm-50 ml-5" data-sitekey="6Lejn7AfAAAAAByrGpZ9TgHuEPJvPFP6NZ7OM0_y"></div>                  
			
            <button class="btn btn-primary mt-3" type="submit">ارسال ایمیل</button>
        </form>
	</div>
</div>
  	</div> 

{% endblock %}

