{% extends 'registration/base_register.html' %}


{% block content %}

	<!--Password reset sent-->
	<div class="container p-5" dir="rtl">
		<div class="row justify-content-center">
		<div class="col-8">
  	<h2 class="font-weight-bold mt-3 text-right">بازنشانی گذرواژه ارسال شد</h2>
		<hr>
		<p class="text-right">اگر حسابی با ایمیلی که وارد کرده‌اید وجود داشته باشد، دستورالعمل‌های تنظیم رمز عبور را برای شما ایمیل کرده‌ایم. شما باید به زودی آنها را دریافت کنید.<br>اگر ایمیلی دریافت نکردید، لطفاً مطمئن شوید که آدرسی را که با آن ثبت نام کرده اید وارد کرده اید و پوشه اسپم خود را بررسی کنید.</p>
	</div>
</div>
  </div>

{% endblock %}
