{% extends 'registration/base_register.html' %}







{% block content %}
<div class="limiter" style="direction: rtl; text-align: right !important;font-family: Sahel !important;">
	{% if form.non_field_errors%}
		<div class="errors">
			
				{% for error in form.non_field_errors %}
					<span>{{ error }}</span>
				{% endfor %}
			
		</div>
	{% endif %}
	<div class="container-login100">
		<div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
			<h3>
                گذرواژه شما با موفقیت تغییر یافت
            </h3>
            <div class="mt-5">
               <a href="{% url 'shop:product_list' %}"> <button class="login100-form-btn myfont">خانه</button></a>
            </div>
            <div class="mt-2">
                <a href="{% url 'account:profile' %}"><button class="login100-form-btn myfont">پنل کاربری</button></a>
            </div>
		</div>
	</div>
</div>

{% endblock %}